section.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

section.flex div {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 5;
}

section.flex div img {
    width: 80px;
}

section.flex div p {
    margin: 0;
}
section.flex div p:first-of-type {
    text-transform: uppercase;
}

section.flex div p:first-of-type::first-letter {
    font-size: 1.25em;
}

section.flex div p:nth-child(3) {
    font-size: 0.5em;
    /* margin-bottom: 5px; */
    padding-bottom: 5px;
}

img.center {
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.popup {
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.popup div {
    background-color: #fff;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}